body {
  background: #F5F5F5;
}

header {
  padding: 30px;
  background: #000;
  min-height: 12vh;
  display: flex;
  align-items: center;
  font-size: 12px;
  border-radius: 0px 0px 40px 40px;
  -moz-border-radius: 0px 0px 40px 40px;
  -webkit-border-radius: 0px 0px 40px 40px;
  border: 0px none #000000;

}

.logo {
  max-width: 100px;
  padding-right: 25px;
}
.titre{
  margin-bottom: 50px;
background: #efefef url('images/abeille1.jpg') top center no-repeat;
background-size: cover;
min-height: 30vh;
display: flex;
align-items: center;
  border-radius: 0px 0px 40px 40px;

}
.flou{
  max-width: 100%;


}



}

.video{
text-align: center;


}


}
article {
  min-height: 60vh;
}
.intro{
  display: block;
  padding: 20px;
  color: white;
  background-color: black;
  border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border: 0px none #000000;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30px;
  margin-bottom: 30px;


}
.intro2{
  display: block;
  padding: 20px;
  color: white;
  background-color: black;
  border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border: 0px none #000000;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #efefef url('images/abeille4-flou.jpg') top center no-repeat;
  background-size: cover;

}
.intro-image{

max-height: 400px;
max-width: 800px;
border-radius: 40px 40px 40px 40px;
-moz-border-radius: 40px 40px 40px 40px;
-webkit-border-radius: 40px 40px 40px 40px;


}

.intro-texte{
display: flex;


}
.intro-texte p {
margin-left: 25px;
margin-right: 60px;
}
.intro-texte2 p {
margin-left: 25px;
margin-right: 60px;
margin-top: 80px;
margin-bottom: 80px;
}
.abeille {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 1px;
}

.abeille img {
  display: block;
      margin-left: auto;
      margin-right: auto;

}

.corps-abeille {
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 22px;
}

.parties-corps {
  max-width: 350px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.article {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 1px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.article img {
  display: table-cell;
      margin-left: auto;
      margin-right: auto;
      max-width: 150px;

}
.article-texte  {
  max-width: 800px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 50px;

}
.article-gris {
  background-color:rgb(245, 245, 245);

  padding-top: 50px;
  padding-bottom: 1px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.article-gris img {
  display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 150px;

}
.article-gris-texte {
  max-width: 800px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 50px;
}

.article-image{
  max-height: 400px;
  max-width: 800px;
  border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;

}
h2 {
  padding: 20px;
  color: white;
  background-color: black;
  border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border: 0px none #000000;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  background: #F5F5F5;
  padding: 30px;
  min-height: 20vh;
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #fff;
  padding: 2em;
  font-size: 2em;
  border: 2px solid white;
  border-radius: 60px;
  padding: 10px;
}

footer nav a {
  color: black;
  padding: 2em;
  font-size: 2em;
  border: 2px solid black;
  border-radius: 60px;
  padding: 10px;
}
